<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <script src="{% static  "clinic/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static  "clinic/js/lightbox.min.js" %}"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static  "clinic/css/lightbox.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{% static  "clinic/js/moment-with-locales.min.js" %}"></script>
    <script src="{% static  "clinic/js/bootstrap-datetimepicker.min.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static  "clinic/css/bootstrap-datetimepicker.min.css" %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
   
    <div class="panel panel-default">
      <div class="panel-heading">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="{% url 'index' %}">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		<li><a href={% url 'index' %}>Главная</a></li>
		<li><a href={% url 'doctors_list' %}>Специалисты</a></li>
		<li><a href={% url 'services_list' %}>Услуги</a></li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
		{% if not user.is_anonymous %}
		<li><a href="#">{{ user }}</a></li>
		<li><a href="{% url 'logout' %}">Выйти</a></li>
		{% else %}
		<li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
		<li><a href="{% url 'login' %}">Войти</a></li>
		{% endif %}
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>

	<div class="panel-body">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</div>

	<div class="panel-footer">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav navbar-right">
	      <a href="https://github.com/Fa-bula/Okulist"><i class="fa fa-github fa-2x"></i></a>
	    </ul>
	  </div>
	</div>

      </div>
    </div>
  </body>
</html>
