{% extends "clinic/base.html" %}
{% load staticfiles %}
{% block title %}
{{ doctor }}
{% endblock %}

{% block content %}


<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-9">
	<h2>{{ doctor }}</h2>
      </div>
      <div class="col-md-3">
	<a href="{% static  doctor.url %}" class="example-image-link"  data-lightbox="image-1" data-title="{{ doctor }}">
	  <img class="example-image" src="{% static  doctor.url %}" alt="{{ doctor }}" height=120/>
	</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">Образование: {{ doctor.education }}</li>
  <li class="list-group-item">Дата Рождения: {{ doctor.birthDate }}</li>
</ul>
{% endblock %}
